p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}

:root {
  --main-color-title: #2e2f42;
  --main-color-text: #434455;
  --second-color-text: #ffffff;
  --accent-color: #404bbf;
  --main-background-color: #f4f4fd;
  --second-background-color: #4d5ae5;
  --additional-color: #e7e9fc;
}
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
}

/* -------------------------HEADER--------------------------- */
.container {
  width: 100%;
  max-width: 1440px;
  outline: 2px solid  red;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.list {
  list-style: none;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-color-title);
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}

.contacts-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: inherit;
  text-decoration: none;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* --------------------------HERO------------------------- */

.hero {
  background: var(--main-color-title);
  
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  color: var(--second-color-text);
  margin: 0 auto;
  margin-bottom: 48px;
  padding-top: 188px;
 
}
.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--second-background-color);
  color: var(--second-color-text);
  cursor: pointer;
  margin-bottom: 188px;
}
.hero-button:hover,
.hero-button:focus {
  background: var(--accent-color);
}
/*----------------------------- FEATURES------------------------- */
.feature {
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0 auto;
}
.feature-list {
}
.hiden {
  visibility: hidden;
}
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-color-title);
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
}
/* -------------------------ABOUT----------------------------- */
.about-list {
}
.about-title {
  font-size: 36px;
  line-height: 1.11;
  color: var(--main-color-title);
  margin-bottom: 72px;
}
.about-item {
}
.about-container{
  padding-left: 156px;
  padding-right: 156px;
}
/* ----------------------------TEAM------------------------- */

.team {
  background: var(--main-background-color);
  
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  color: var(--main-color-title);
  margin-top: 120px;
  margin-bottom: 72px;
}
.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-color-title);
  margin-bottom: 8px;
}
.team-member-descr {
  font-size: 16px;
  line-height: 1.5;

}
/* ---------------------PORTFOLIO------------------------ */

.button-list {
  padding-top: 96px;
  padding-bottom: 72px;
}
.btn-item,
.button-name {
  font-family: inherit;
  font-style: normal;
  background: var(--second-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--second-color-text);
  cursor: pointer;
}
.button-name {
  background: var(--main-background-color);
  color: var(--second-background-color);
}
.button-name:hover,
.button-name:focus {
  background-color: var(--accent-color);
  color: var(--main-background-color);
}
.btn-item:hover,
.btn-item:focus {
  background-color: var(--accent-color);
}

/* ---------------------------PHOTOS----------------------- */
.portfolio {
  background: var(--second-color-text);
}
.portfolio-item {
}

.portfolio-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-color-title);
  margin-bottom: 8px;
}
.portfolio-category {
  font-size: 16px;
  line-height: 1.5;
}

/* -------------------------FOOTER---------------- */
.footer-container{
  padding-top: 100px;
  padding-bottom: 100px;

}
.footer-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.web-item {
  color: var(--second-background-color);
}
.studio-item {
  color: var(--main-background-color);
}
.footer {
  background: var(--main-color-title);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--additional-color);
}
