:root {
    --main-color-title: #2e2f42;
    --main-color-text: #434455;
    --second-color-text: #ffffff;
    --accent-color: #404bbf;
    --main-background-color: #f4f4fd;
    --second-background-color: #4d5ae5;
    --additional-color: #e7e9fc;
  }
  body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: var(--main-color-text);
  }
  
  /* -------------------------HEADER--------------------------- */
  
  .list {
    list-style: none;
  }
  
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-color-title);
    text-decoration: none;
  }
  .nav-link:hover,
  .nav-link:focus {
    color: var(--accent-color);
  }
  .current {
    color: var(--accent-color);
  }
  
  .contacts-link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: inherit;
    text-decoration: none;
  }
  .contacts-link:hover,
  .contacts-link:focus {
    color: var(--accent-color);
  }
  
  /* --------------------------HERO------------------------- */
  
  .hero {
    background: var(--main-color-title);
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    color: var(--second-color-text);
  }
  .hero-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--second-background-color);
    color: var(--second-color-text);
    cursor: pointer;
  }
  .hero-button:hover,
  .hero-button:focus {
    background: var(--accent-color);
  }
  /*----------------------------- FEATURES------------------------- */
  .features {
  }
  .feature-list {
  }
  .hiden {
    visibility: hidden;
  }
  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main-color-title);
  }
  
  .features-text {
    font-size: 16px;
    line-height: 1.5;
  }
  /* -------------------------ABOUT----------------------------- */
  .about-list {
  }
  .about-title {
    font-size: 36px;
    line-height: 1.11;
    color: var(--main-color-title);
  }
  .about-item {
  }
  /* ----------------------------TEAM------------------------- */
  
  .team {
    background: var(--main-background-color);
  }
  .team-title {
    font-size: 36px;
    line-height: 1.11;
    color: var(--main-color-title);
  }
  .team-member {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main-color-title);
  }
  .team-member-descr {
    font-size: 16px;
    line-height: 1.5;
  }
  /* ---------------------PORTFOLIO------------------------ */
  
  .button {
  }
  .btn-item,
  .button-name {
    font-family: inherit;
    font-style: normal;
    background: var(--second-background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--second-color-text);
    cursor: pointer;
  }
  .button-name {
    background: var(--main-background-color);
    color: var(--second-background-color);
  }
  .button-name:hover,
  .button-name:focus {
    background-color: var(--accent-color);
    color: var(--main-background-color);
  }
  .btn-item:hover,
  .btn-item:focus {
    background-color: var(--accent-color);
  }
  
  /* ---------------------------PHOTOS----------------------- */
  .portfolio {
    background: var(--second-color-text);
  }
  .portfolio-item {
  }
  
  .portfolio-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main-color-title);
  }
  .portfolio-category {
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* -------------------------FOOTER---------------- */
  .footer-link {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
  .web-item {
    color: var(--second-background-color);
  }
  .studio-item {
    color: var(--main-background-color);
  }
  .footer {
    background: var(--main-color-title);
  }
  .footer-text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--additional-color);
  }
  